<% if notice %>
  <div id="notice" class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><%= notice %></span>
    <a data-dismiss="alert" aria-label="Close">
      <%= icon('fas', 'times') %>
    </a>
  </div>
<% end %>

<h1 class="m-3">Tanques de Combustível</h1>
<%= link_to 'Novo Tanque', new_fuel_tank_path, :class => "btn btn-primary mb-3" %>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Capacidade (L)</th>
      <th scope="col">Quantidade (L)</th>
      <th scope="col">Combustível</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @fuel_tanks.each do |fuel_tank| %>
      <tr>
        <td><%= fuel_tank.capacity %></td>
        <td><%= fuel_tank.amount %></td>
        <td><%= fuel_tank.fuel %></td>
        <td>
          <%= link_to fuel_tank, :class => "btn btn-success" do %>
            <span>Detalhes <%= icon('fas', 'gas-pump') %></span>
          <% end %>
        </td>
        <td>
          <%= link_to edit_fuel_tank_path(fuel_tank), :class => "btn btn-info" do %>
            <span>Editar <%= icon('fas', 'edit') %></span>
          <% end %>
        </td>
        <td>
          <%= link_to fuel_tank, :class => "btn btn-danger", method: :delete, data: { confirm: 'Tem certeza?' } do %>
            <span>Excluir <%= icon('fas', 'trash-alt') %></span>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
